*{
 margin: 0;
 padding: 0;
}
body{
 background: #08528a;
 height: 100vh;
 font-family: system-ui;
}
a{
 text-decoration: none;
 color:black;
}
header{
 position: fixed;
 width: 95%;
 z-index: 100;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 30px;
}
header .logo{
 font-size: 30px;
 text-transform: uppercase;
 text-align: left;
 color: black;
}
h1, h2{
  text-shadow: 2px 2px #00000035;
}
header ul{
 display: flex;
 justify-content: center;
 align-items: center;
 list-style: none;
}
header ul li{
 margin-right: 30px;
}
header ul li a{
 padding: 6px 15px;
 border-radius: 20px;
 font-weight: bold;
 text-shadow: 2px 2px #00000035;
}
header ul li a:hover{
  background: green;
  color: white;
}
.main{
 position: relative;
 height: 100vh;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}
.main::after{
 content: "";
 position: absolute;
 bottom: 0;
 height: 100px;
 width: 100%;
 background: linear-gradient(to top, #08528a, transparent);
}
.main img{
 position: absolute;
 width: 100%;
 height: 100vh;
 object-fit: cover;
}
#sun{
 margin-left: 100px;
 width:350px;
 height:350px;
 z-index: 0;
 animation: rotate 25s linear infinite;
 -webkit-animation: rotate 25s linear infinite;
} 
#clouds{
  z-index: 1;
}
#mountains{
  z-index: 2;
}
#birds{
  width: 100%;
  height: 100%;
  scale: 30%;
  margin-left: 550px;
}
.CheGuevaraImg{
  float: right;
  margin: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 1px 1px 5px 10px #00000060;
}
.CheGuevaraImg1{
  float: right;
  margin: 20px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  box-shadow: 1px 1px 5px 10px #00000060;
}
.article{
  color: #fff;
  padding: 30px;
}
.article h2{
  margin: 20px;
  font-size: 25px;
}
.article p{
  margin: 20px;
}
.article button{
  padding: 15px 15px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 10px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 5px 4px #00000060;
  text-shadow: 1px 1px 1px #00000035;
}
.article button:hover{
  background: green;
  color: white;
}
.music{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    /* opacity:1; */
  }
}